:root {
  --color-black-background: #000000;
  --color-white-background: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

/* Fonts */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

.material-icons {
  font-size: 5vh;
}

/* Navigation */
.NavigationMenu {
  width: 6%;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
  display: table;
  table-layout: auto;

  background-color: var(--color-white-background);
}

.NavButton {
  height: 20%;
  width: 100%;
  font-size: 5vh;
  display: table-cell;
  bottom: 0;
  text-align: center;
  vertical-align: middle;
  border: none;

  mix-blend-mode: difference;
  background-color: var(--color-white-background);
}

/* Windows */
.WindowManager {
  width: 94%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
}

.MapWindow {
  height: 100%;
  width: 70%;
  position: absolute;
  right: 0;
  bottom: 0;

  background-color: var(--color-black-background);
}

.InfoWindow {
  height: 100%; width: 30%;
  position: absolute;
  left: 0; bottom: 0;
  z-index: 10;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40% 0% 20% 40%;

  box-shadow: 2px 0px 20px #00000012;
  background-color: var(--color-white-background);
}

/* Infomation Tab */
.InfoSpeed {
  box-shadow: 0px 6px 19px 0px #00000026;
}

.InfoSpeedGraph {
  background-color: rgba(75, 192, 192, 0.2);
}

.SpotifyWindow {
  grid-row: 4;
  display: grid;
  grid-template-columns: 5% 30% 60% 5%;
  grid-template-rows: 10% 5% 8% 32% 5% 30% 10%;
}

/* Spotify Player */
.SpotifyImage {
  width: 100%; height: auto;
  grid-row: 3 / span 2; grid-column: 2;

  border-radius: 1vh;
  box-shadow: 0px 2px 9px #0000004d;
}

.SpotifyArtist {
  grid-row: 3 / span 1; grid-column: 3 / span 1;
  height: 30%;
  position: relative;
  margin-top: 0.4vh;
  margin-bottom: 0;
  padding-left: 1vw;

  font-size: 2.4vh;
  font-weight: 800;
  text-transform: uppercase;
}

.SpotifyTitle {
  grid-row: 4 / span 2; grid-column: 3 / span 1;
  position: relative;
  margin: 0;
  padding-left: 1vw;
  bottom: 0;

  font-size: 4vh;
}

.SpotifyButton {
  height: 100%; width: 100%;
  grid-row: 6; grid-column: 2 / span 2;
  display: table;
  table-layout: auto;
}

.MusicNavButton {
  height: 100%; width: 33.3333333333%;
  display: table-cell;
  bottom: 0;
  text-align: center;
  vertical-align: middle;
  border: none;

  background-color: rgba(75, 192, 192, 0);
}